{% extends '../views/layout.html' %}

{% block extraheader %}
    <link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}

{% block content %}
    <div id="search">
        <el-input placeholder="Please type domain, e.g, baidu.com">
            <template slot="prepend">http://</template>
            <el-button slot="append" icon="search"></el-button>
        </el-input>
    </div>
     <template>
            <el-select v-model="values" multiple placeholder="请选择">
                <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
                </el-option>
            </el-select>
        </template>
{% endblock %}

{% block extrascript %}
    <script>
    var Content = {
      delimiters: ['{$', '$}'],
      data() {
        return {
          options: [{
            value: '1',
            label: 'jQuery'
          }, {
            value: '2',
            label: 'Vue'
          }, {
            value: '3',
            label: 'React'
          }, {
            value: '4',
            label: 'Angular'
          }, {
            value: '5',
            label: 'Echarts'
          }],
          values: []
        }
      }
  }
    let vueContent = Vue.extend(Content)
    new vueContent().$mount('#content')
    </script>
{% endblock %}