{% extends '../views/layout.html' %} {% block extraheader %}
<link rel="stylesheet" href="/stylesheets/index.css"> {% endblock %} {% block content %}
<div id="search">
  <div class="el-input el-input-group el-input-group--append el-input-group--prepend">
    <div class="el-input-group__prepend">http://</div>

    <input autocomplete="off" @keyup.enter="searchWeb" placeholder="Please type a domain, e.g, baidu.com" type="text" rows="2" validateevent="true"
class="el-input__inner">
      
    <div class="el-input-group__append">
      <button type="button" @click="searchWeb" class="el-button el-button--default">
        <i class="el-icon-search"></i>
      </button>
    </div>
  </div>
</div>
<template>
  <el-select v-model="values" multiple placeholder="Please choose">
    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
    </el-option>
  </el-select>
</template>
<template>
  <p v-for="item in searchedValues">
    <el-alert v-if="item.isTrue===true" :title="item.name" type="success" description="Found this JS library!:)" show-icon>
    </el-alert>
    <el-alert v-else :title="item.name" type="error" description="Didn't find this JS library.:(" show-icon>
    </el-alert>
  </p>

</template>
{% endblock %} {% block extrascript %}
<script>
  var Content = {
    delimiters: ['{$', '$}'],
    data() {
      return {
        options: [{
          value: 'jQuery',
          label: 'jQuery'
        }, {
          value: 'Vue',
          label: 'Vue'
        }, {
          value: 'React',
          label: 'React'
        }, {
          value: 'Angular',
          label: 'Angular'
        }, {
          value: 'Echarts',
          label: 'Echarts'
        }, {
          value: 'Bootstrap',
          label: 'Bootstrap'
        }],
        values: [],
        searchedValues: {}
      }
    },
    methods: {
      searchWeb: function () {
        $.ajax({
          url: '/search',
          data: {
            values: this.values,
            url: $('.el-input__inner').val()
          },
          method: 'POST',
          success: (data) => {
            if (data.errno) {
              this.$notify.error({
                title: 'Wrong!',
                message: data.errno
              });
            } else {
              this.searchedValues = data;
              console.log(this.searchedValues);
            }
          }
        })
      }
    }
  }
  let vueContent = Vue.extend(Content)
  new vueContent().$mount('#content')
</script>
{% endblock %}