#content {
  padding-top:120px;
  padding-bottom: 55px;
  width: 60%;
  margin: 0 auto;
}

#search .el-input {
  margin-bottom: 20px;
}

@media screen and (max-height: 600px) {
    #content{
     padding-top: 10px;
     padding-bottom: 55px;
     position: static;
     top:none;
     left: none;
     transform: none;
    }
}