#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0;
}

#search .el-input {
  margin-bottom: 20px;
}

@media screen and (max-height: 300px) {
    #content{
     padding-top: 10px;
     padding-bottom: 55px;
     position: static;
     top:none;
     left: none;
     transform: none;
    }
}

@media screen and (max-width: 515px) {
    #content{
     padding-top: 10px;
     position: static;
     top:none;
     left: none;
     transform: none;
    }
}